.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
/*********************************
1. scroll top
*********************************/
#scroll-top{
	position: fixed;
    right: 3%;
    bottom: 15%;
    margin: 0;
    border: 1px solid;
    padding: 1px 8px;
    z-index: 9999999;
    text-decoration: none;
    background: $firstColor;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    display: none;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#scroll-top:hover{
	background: #FFF;
    color: $firstColor;
}
