/*
** Groupe suggest/classes
**
*/
@mixin whiteBoard {
	background: #fff;
	border-radius: 10px;
	padding: 20px 15px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/*
** hover nav
**
*/
@mixin hovernav {
	border: 1px solid #fff;
	background: #FFF;
	a{
		color: #333;
		i{
			color: $secondColor;
		}
	}
}
/*
** Overlay mixin
**
*/

@mixin overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
** Prefixer mixin
**
*/

@mixin prefixer($prop, $value) {
	-webkit-#{$prop} : $value;	
	-moz-#{$prop} : $value;	
	-o-#{$prop} : $value;	
	-ms-#{$prop} : $value;	
	#{$prop} : $value;	
}


/*
** Animation mixin
**
*/

@mixin keyframe($anim_name) {
	@-webkit-keyframes #{$anim_name} {
		@content;
	}
	@-moz-keyframes #{$anim_name} {
		@content;
	}
	@keyframes #{$anim_name} {
		@content;
	}
}








